.card-container {
  width: 80vw;
  display: grid;
  gap: 1.5rem;
  grid-row-gap: 6rem;
  grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
  grid-auto-rows: 300px;
  justify-content: center;
  margin: 10vh 0;
}
