.menulist{
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
    padding:10px;
}

.link-button{
    color:white;
    text-decoration: none;
}