
.card {
  transition: transform 1s ease-in-out;
  display: flex;
  flex-direction: column;

  img {
    height: 30vh;
    width: 100%;
  }

  h5 {
    color: black;
    padding: 0 10px;
    height: 8vh;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
  }
}