.card {
  transition: transform 1s ease-in-out;
  display: flex;
  flex-direction: column;

  img {
    height: 50%;
    width: 100%;
  }

  h5 {
    color: #bc412b;
    padding: 0 10px;
    height:30px;
    overflow: hidden;
  }
}
